workflows/autodream-process-one-file.json
{
  "name": "Autodream - Process One File",
  "nodes": [
    {
      "parameters": {},
      "id": "sub-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $input.first().json.fileId }}?alt=media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "read-file",
      "name": "Read File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        0
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive account"
        }
      }
    },
    {
      "id": "extract-content",
      "name": "Extract Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        0
      ],
      "parameters": {
        "jsCode": "\nconst item = $input.first();\nconst trigger = $('Execute Workflow Trigger').item.json;\nconst fileName = trigger.fileName;\nconst fileId = trigger.fileId;\n\nlet content = '';\nif (item.json && item.json.data) {\n  content = item.json.data;\n} else if (item.json && item.json.body) {\n  content = item.json.body;\n}\n\nconst sys = [\n  'You are a memory consolidation system for Claude Code.',\n  'You receive ONE memory file.',\n  '',\n  'Your tasks:',\n  '1. Consolidate redundant information',\n  '2. Remove outdated or contradictory entries',\n  '3. Improve clarity and precision',\n  '4. Preserve the existing YAML frontmatter format',\n  '',\n  'STRICT rules: Raw JSON ONLY, ZERO backticks. Start with {.',\n  '',\n  'If changed=true: {\"changed\":true,\"content\":\"...\",\"changes\":\"...\",\"observation\":\"...\"}',\n  'If changed=false: {\"changed\":false,\"changes\":\"No changes\",\"observation\":\"...\"}'\n].join('\\n');\n\nconst claudeBody = JSON.stringify({\n  model: 'claude-sonnet-4-6',\n  max_tokens: 4096,\n  system: sys,\n  messages: [{\n    role: 'user',\n    content: 'Run: ' + new Date().toISOString() + '\\nFile: ' + fileName + '\\n\\nContent:\\n' + content.slice(0, 3000)\n  }]\n});\n\nreturn [{ json: { fileName, fileId, fileContent: content, claudeBody } }];\n"
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.claudeBody }}",
        "options": {}
      },
      "id": "call-claude",
      "name": "Call Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        0
      ],
      "credentials": {
        "anthropicApi": {
          "id": "YOUR_ANTHROPIC_CREDENTIAL_ID",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const fileName = $('Execute Workflow Trigger').item.json.fileName;\nconst fileId = $('Execute Workflow Trigger').item.json.fileId;\nconst raw = $input.first().json.content[0].text;\nconst cleaned = raw.replace(/^```json\\s*/i, '').replace(/^```\\s*/i, '').replace(/```\\s*$/i, '').trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch(e) {\n  return [{ json: { fileName, changed: false, changes: 'Erreur parsing', observation: e.message } }];\n}\n\nreturn [{ json: {\n  fileName,\n  fileId,\n  changed: parsed.changed === true,\n  changes: parsed.changes || 'Aucune modification',\n  observation: parsed.observation || '',\n  newContent: parsed.content || '',\n  writeNeeded: parsed.changed === true && !!parsed.content\n} }];"
      },
      "id": "parse-and-write",
      "name": "Parse and Write",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.writeNeeded }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-write",
      "name": "Write Needed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://www.googleapis.com/upload/drive/v3/files/{{ $json.fileId }}?uploadType=media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "text/plain; charset=utf-8"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "raw",
        "options": {},
        "body": "={{ $json.newContent }}"
      },
      "id": "a4ee774a-3f24-4fce-a143-25960f6fa097",
      "name": "Write File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1104,
        -80
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "r1",
              "name": "fileName",
              "value": "={{ $('Parse and Write').item.json.fileName }}",
              "type": "string"
            },
            {
              "id": "r2",
              "name": "changed",
              "value": "={{ $('Parse and Write').item.json.changed }}",
              "type": "boolean"
            },
            {
              "id": "r3",
              "name": "changes",
              "value": "={{ $('Parse and Write').item.json.changes }}",
              "type": "string"
            },
            {
              "id": "r4",
              "name": "observation",
              "value": "={{ $('Parse and Write').item.json.observation }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "result-written",
      "name": "Result Written",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1328,
        -80
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "r1",
              "name": "fileName",
              "value": "={{ $json.fileName }}",
              "type": "string"
            },
            {
              "id": "r2",
              "name": "changed",
              "value": "={{ $json.changed }}",
              "type": "boolean"
            },
            {
              "id": "r3",
              "name": "changes",
              "value": "={{ $json.changes }}",
              "type": "string"
            },
            {
              "id": "r4",
              "name": "observation",
              "value": "={{ $json.observation }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "result-unchanged",
      "name": "Result Unchanged",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1104,
        80
      ]
    },
    {
      "id": "sticky-main-autodream-process",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -400,
        -240
      ],
      "parameters": {
        "content": "## Autodream — Process One File\n\n**Rôle :** Sous-workflow — traite un seul fichier mémoire Drive via Claude.\n\n**Déclencheur :** Appelé par Autodream - Memory Consolidation via Execute Workflow\n\n**Inputs :** fileId · fileName (passés par le parent)\n\n**Outputs :** { status: 'written' | 'unchanged', fileName }\n\n**Ce qu'il fait :**\n1. Lit le contenu du fichier depuis Drive\n2. Envoie le contenu à Claude pour consolidation/résumé\n3. Compare la réponse avec l'original\n4. Si modifié → écrit le fichier mis à jour dans Drive\n5. Retourne le statut au workflow parent\n\n**Dépendances :**\n→ Appelé par : Autodream - Memory Consolidation (gootAOELYKn0NW7k)\n→ Utilise : Google Drive API · Claude API (HTTP Request direct)",
        "height": 360,
        "width": 600,
        "color": 6
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Read File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read File": {
      "main": [
        [
          {
            "node": "Extract Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Claude": {
      "main": [
        [
          {
            "node": "Parse and Write",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse and Write": {
      "main": [
        [
          {
            "node": "Write Needed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Needed?": {
      "main": [
        [
          {
            "node": "Write File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Result Unchanged",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write File": {
      "main": [
        [
          {
            "node": "Result Written",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Content": {
      "main": [
        [
          {
            "node": "Call Claude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "oksf4mbuurLbDqsN",
    "executionTimeout": 600
  }
}