workflows/autodream-process-one-file.json
{
  "name": "Autodream - Process One File",
  "nodes": [
    {
      "parameters": {
        "content": "## 📄 AUTODREAM — Process One File\n\n**Sub-workflow** called by *Autodream - Memory Consolidation*\nfor each memory file.\n\nReceives: `fileId` + `fileName`\nReturns: `fileName`, `changed`, `changes`, `observation`\n\n⚠️ This workflow must be **active** to work.",
        "height": 300,
        "width": 480,
        "color": 3
      },
      "id": "sticky-title",
      "name": "Sticky Note Title",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-208, -320]
    },
    {
      "parameters": {
        "content": "## ⚙️ CONFIGURATION\n\n**Read File & Write File:**\n→ Select your **Google Drive OAuth2** credential\n\n**Call Claude:**\n→ Select your **Anthropic API** credential\n→ Header `anthropic-version: 2023-06-01` is required\n\n**Default model:** `claude-sonnet-4-6`\nChange it in the JSON Body of the Call Claude node.",
        "height": 240,
        "width": 480,
        "color": 5
      },
      "id": "sticky-setup",
      "name": "Sticky Note Setup",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-208, 32]
    },
    {
      "parameters": {},
      "id": "sub-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [368, 0]
    },
    {
      "parameters": {
        "content": "## 📅 Read file from Drive\nFetches the raw content\nof the `.md` memory file",
        "height": 180,
        "width": 220,
        "color": 4
      },
      "id": "sticky-read",
      "name": "Sticky Note Read",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [560, -208]
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $input.first().json.fileId }}?alt=media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "read-file",
      "name": "Read File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [608, 0]
    },
    {
      "parameters": {
        "content": "## 🧠 Call Claude\nSends the file content to Claude\nfor consolidation.\n\nRequires Anthropic credential\nand `anthropic-version` header.",
        "height": 200,
        "color": 2
      },
      "id": "sticky-claude",
      "name": "Sticky Note Claude",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [832, -208]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-6\",\n  \"max_tokens\": 4096,\n  \"system\": \"You are a memory consolidation system for Claude Code.\\nYou receive ONE memory file.\\n\\nYour tasks:\\n1. Consolidate redundant information\\n2. Remove outdated or contradictory entries\\n3. Improve clarity and precision\\n4. Preserve the existing YAML frontmatter format\\n\\nSTRICT format rules:\\n- Raw JSON ONLY, ZERO backticks, ZERO markdown\\n- Start directly with {\\n\\nIf changed=true:\\n{\\n  \\\"changed\\\": true,\\n  \\\"content\\\": \\\"full file content after changes\\\",\\n  \\\"changes\\\": \\\"- What changed\\\",\\n  \\\"observation\\\": \\\"Brief comment\\\"\\n}\\n\\nIf changed=false:\\n{\\n  \\\"changed\\\": false,\\n  \\\"changes\\\": \\\"No changes\\\",\\n  \\\"observation\\\": \\\"Brief comment\\\"\\n}\",\n  \"messages\": [{\"role\": \"user\", \"content\": {{ JSON.stringify(\"Run: \" + $now.toISO() + \"\\nFile: \" + $input.first().json.fileName + \"\\n\\nContent:\\n\" + $json.data.slice(0, 3000)) }}}]\n}",
        "options": {}
      },
      "id": "call-claude",
      "name": "Call Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [864, 0]
    },
    {
      "parameters": {
        "jsCode": "const fileName = $('Execute Workflow Trigger').first().json.fileName;\nconst fileId = $('Execute Workflow Trigger').first().json.fileId;\nconst raw = $input.first().json.content[0].text;\nconst cleaned = raw.replace(/^```json\\s*/i, '').replace(/^```\\s*/i, '').replace(/```\\s*$/i, '').trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch(e) {\n  return [{ json: { fileName, changed: false, changes: 'Parsing error', observation: e.message, writeNeeded: false } }];\n}\n\nreturn [{ json: {\n  fileName,\n  fileId,\n  changed: parsed.changed === true,\n  changes: parsed.changes || 'No changes',\n  observation: parsed.observation || '',\n  newContent: parsed.content || '',\n  writeNeeded: parsed.changed === true && !!parsed.content\n} }];"
      },
      "id": "parse-response",
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1104, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.writeNeeded }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-write",
      "name": "Write Needed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1328, 0]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://www.googleapis.com/upload/drive/v3/files/{{ $json.fileId }}?uploadType=media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "text/plain; charset=utf-8"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "raw",
        "options": {}
      },
      "id": "write-file",
      "name": "Write File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1552, -80]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {"id": "r1", "name": "fileName", "value": "={{ $('Parse Response').item.json.fileName }}", "type": "string"},
            {"id": "r2", "name": "changed", "value": "={{ $('Parse Response').item.json.changed }}", "type": "boolean"},
            {"id": "r3", "name": "changes", "value": "={{ $('Parse Response').item.json.changes }}", "type": "string"},
            {"id": "r4", "name": "observation", "value": "={{ $('Parse Response').item.json.observation }}", "type": "string"}
          ]
        },
        "options": {}
      },
      "id": "result-written",
      "name": "Result Written",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1760, -80]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {"id": "r1", "name": "fileName", "value": "={{ $json.fileName }}", "type": "string"},
            {"id": "r2", "name": "changed", "value": "={{ $json.changed }}", "type": "boolean"},
            {"id": "r3", "name": "changes", "value": "={{ $json.changes }}", "type": "string"},
            {"id": "r4", "name": "observation", "value": "={{ $json.observation }}", "type": "string"}
          ]
        },
        "options": {}
      },
      "id": "result-unchanged",
      "name": "Result Unchanged",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1552, 80]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [[{"node": "Read File", "type": "main", "index": 0}]]
    },
    "Read File": {
      "main": [[{"node": "Call Claude", "type": "main", "index": 0}]]
    },
    "Call Claude": {
      "main": [[{"node": "Parse Response", "type": "main", "index": 0}]]
    },
    "Parse Response": {
      "main": [[{"node": "Write Needed?", "type": "main", "index": 0}]]
    },
    "Write Needed?": {
      "main": [
        [{"node": "Write File", "type": "main", "index": 0}],
        [{"node": "Result Unchanged", "type": "main", "index": 0}]
      ]
    },
    "Write File": {
      "main": [[{"node": "Result Written", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
